<section class="full">
    <div class="middle-text">
        <h1>Enjoy fun cooking</h1>
    </div>
</section>

<div class="container">
    <div class="container">
        <div class="row">
            <h2>About us</h2>
            <div class="col-xs-8 col-md-6">
                <br>
                <p class="left-align">
                    Tasty Home Cook aims to provide each and every household in its 10 markets with the opportunity to enjoy wholesome home-cooked
                    meals with no planning, no shopping and no hassle required.
                    <br>
                    <br> Everything required for weeknight meals, carefully planned, locally sourced and delivered to your door
                    at the most convenient time for each subscriber.
                    <br>
                    <br> Behind the scenes, a huge data driven technology platform puts us in the prime position for disrupting
                    the food supply chain and for fundamentally changing the way consumers shop for food.
                </p>
            </div>
            <div class="col-xs-4 col-md-6">
                <img class="about-img" src="/images/header2.jpg">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h2 class="space right-align">Our Customer Gallery</h2>
            <div class="wrapper">
                <div class="column">
                    <div class="inner"></div>
                </div>
                <div class="column">
                    <div class="inner"></div>
                </div>
                <div class="column">
                    <div class="inner"></div>
                </div>
                <div class="column">
                    <div class="inner"></div>
                </div>
                <div class="column">
                    <div class="inner"></div>
                </div>
                <div class="column">
                    <div class="inner"></div>
                </div>
                <div class="column">
                    <div class="inner"></div>
                </div>
                <div class="column">
                    <div class="inner"></div>
                </div>
                <div class="column">
                    <div class="inner"></div>
                </div>
                <div class="column">
                    <div class="inner"></div>
                </div>
                <div class="column">
                    <div class="inner"></div>
                </div>
                <div class="column">
                    <div class="inner"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb40 left-align">
                    <h2>Human of Tasty Home Cook</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <!-- team-img -->
                    <div class="team-block">
                        <div class="team-img">
                            <img src="https://easetemplate.com/free-website-templates/motion/images/team_member_1.jpg" alt="">
                            <div class="team-content">
                                <h4 class="text-white mb0">Eliza Simon</h4>
                                <p class="team-meta">- Recipe Creator</p>
                            </div>
                            <div class="overlay">
                                <div class="text">
                                    <h4 class="mb0 text-white">Eliza Simon</h4>
                                    <p class="mb30 team-meta">- Recipe Creator</p>
                                    <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                        justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel
                                        risus quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton
                                        pretiume.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.team-img -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <!-- team-img -->
                    <div class="team-block">
                        <div class="team-img">
                            <img src="https://easetemplate.com/free-website-templates/motion/images/team_member_2.jpg" alt="">
                            <div class="team-content">
                                <h4 class="text-white mb0">Gerald Ferguson</h4>
                                <p class="team-meta">- Creative Director</p>
                            </div>
                            <div class="overlay">
                                <div class="text">
                                    <h4 class="mb0 text-white">Gerald Ferguson</h4>
                                    <p class="mb30 team-meta">- Creative Director</p>
                                    <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                        justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel
                                        risus quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton
                                        pretiume.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.team-img -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <!-- team-img -->
                    <div class="team-block">
                        <div class="team-img">
                            <img src="https://easetemplate.com/free-website-templates/motion/images/team_member_3.jpg" alt="" class="img-fluid">
                            <div class="team-content">
                                <h4 class="text-white mb0">William Murphy</h4>
                                <p class="team-meta">- Project Manager</p>
                            </div>
                            <div class="overlay">
                                <div class="text">
                                    <h4 class="mb0 text-white">William Murphy</h4>
                                    <p class="mb30 team-meta">- Project Manager</p>
                                    <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                        justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel
                                        risus quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton
                                        pretiume.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.team-img -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <!-- team-img -->
                    <div class="team-block">
                        <div class="team-img">
                            <img src="https://easetemplate.com/free-website-templates/motion/images/team_member_4.jpg" alt="" class="img-fluid">
                            <div class="team-content">
                                <h4 class="text-white mb0">Barbara Cook</h4>
                                <p class="team-meta">- Recipe Creator</p>
                            </div>
                            <div class="overlay">
                                <div class="text">

                                    <h4 class="text-white mb0">Barbara Cook</h4>
                                    <p class="mb30 team-meta">- Recipe Creator</p>
                                    <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                        justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel
                                        risus quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton
                                        pretiume.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.team-img -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <!-- team-img -->
                    <div class="team-block">
                        <div class="team-img">
                            <img src="https://easetemplate.com/free-website-templates/motion/images/team_member_5.jpg" alt="" class="img-fluid">
                            <div class="team-content">
                                <h4 class="text-white mb0">Derek Bybee</h4>
                                <p class=" mb30 team-meta">- Creative Director</p>
                            </div>
                            <div class="overlay">
                                <div class="text">
                                    <h4 class="text-white mb0">Derek Bybee</h4>
                                    <p class=" mb30 team-meta">- Creative Director</p>
                                    <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                        justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel
                                        risus quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton
                                        pretiume.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.team-img -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <!-- team-img -->
                    <div class="team-block">
                        <div class="team-img">
                            <img src="https://easetemplate.com/free-website-templates/motion/images/team_member_6.jpg" alt="" class="img-fluid">
                            <div class="team-content">
                                <h4 class="text-white mb0">Lucille Webster</h4>
                                <p class=" mb30 team-meta">- CEO</p>
                            </div>
                            <div class="overlay">
                                <div class="text">
                                    <h4 class="text-white mb0">Lucille Webster</h4>
                                    <p class="team-meta">- CEO</p>
                                    <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod
                                        justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel
                                        risus quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton
                                        pretiume.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.team-img -->
            </div>
        </div>
    </div>
</div>